$w:1190px;

*{margin: 0;
padding: 0;}

li{list-style: none;}
a{
    text-decoration: none;
}
.w1200{
    min-width: $w;
    .wrap{
        width: $w;
        margin: 0 auto;
    }
}
.tools{
    font-size: 12px;
    height: 30px;
    background: #f7f7f7;
    min-width: $w;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e9e9e9;
    font-family: 'Microsoft YaHei';
    .left-span {
        width: 100%;
        height: 3px;
        position: absolute;
        left: 0;
        top: 28px;
        background-color: #FFF;
        z-index: 2;
        display: none;
    }
    .divshow {
        //width: 141px;
        display: none;
        position: absolute;
        background-color: #fff;
        border: 1px solid #e2e2e2;
        box-shadow: 0 0 2px #CCC;
        top: 30px;
        left: 0px;
        z-index: 1000;
        text-align: center;
    }
    .left-show {
        left: -1px;
        padding: 7px 12px;
    }
    .left-show-dl {
        width: 222px;
        line-height: 24px;
        dl{
            display: block;
            dd {
                padding: 0 5px;
                width: 100px;
                float: left;
                margin-left: 1px;
                a{
                    
                    &:link{
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .palm-item{
        //margin:10px 0 4px ;
    }
    .palm-item-line {
        text-align: center;
        padding: 0 20px;
        line-height: 20px;
        height: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .pay-head{
        a{
            display: block;
            text-align: center; 
        }
    }
    
}

.bl-name{
    float: left;
    width: auto;
    padding: 0 12px 0 18px;
    height: 30px;
    line-height: 30px;
    color: #8d8d8d;
    background: url(//img.iblimg.com/respc-1/resources/v4.0/widget/tools1200/i/bl_logo_m.png) 2px center no-repeat;
    position: relative;
     b {
        position: absolute;
        width: 1px;
        height: 12px;
        display: block;
        top: 9px;
        right: -1px;
        background-color: red;
    }
   
}
.tools-left {
    float: left;
    position: relative;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.tools-leftfont {

    line-height: 30px;
    height: 30px;
    a{
        color: #666; 
        //&:link{display: block}
        &:hover{
            color: red;display: block;
        }
        span{float: left;}
    }
    i{
        float: left;
        display: inline-block;
        width: 7px;
        height: 4px;
        margin-left: 7px;
        margin-top: 13px;
        background: url(//img.iblimg.com/respc-1/resources/v4.0/widget/tools1200/i/tools1200_sprite.png) no-repeat 0 -40px;
    }
    
}

.tools-info {
    width: 30px;
    float: left;
    display: inline;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    text-align: center;
    position: relative;
    s{
        width: 4px;
        height: 4px;
        line-height: 4px;
        color: #e6133c;
        font-size: 18px;
        position: absolute;
        right: 2px;
        top: 5px;
    }
    a.red-font{
        color: #666;
        //list-style: none;
        font-family: 'Microsoft YaHei';
    }
    a{
        color: #666;
         &:hover{
           color: red;
        }
    }
}
.tools-right{
     float: right;
    ul{
        display: block;
        margin:0;
        li{
            float: left;
            position: relative;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            display: inline;
            height: 30px;
            line-height: 30px;
            
            padding: 0 10px;
            list-style: none;
           
            a{
               color: #666;
                &:hover{
                    color: red;
                }
            }
             b {
                position: absolute;
                width: 1px;
                height: 12px;
                display: block;
                top: 9px;
                right: -1px;
                background-color: pink;
            }
            .pay {
                padding: 15px;
                width: 660px;
                left: 50%;
                margin-left: -426px;
                //display: none;
            }
            .pay-dl{
                width: 660px;
                overflow: hidden;
                dd {
                    float: left;
                    width: 100px;
                    //padding: 0 5px;
                    margin-left: -1px;
                    border-left: 1px dashed #e9e9e9;
                    height: 126px;
                }
            }
            dl{
                
                width:70px;
                margin-left:5px;
                margin-right: 5px;
                dd{
                    text-align: center;
                }
            }
        }
        li.box{
            .login-button{
                margin-right: 15px;
            }
            i{
                float: left;
                display: inline-block;
                width: 13px;
                height: 13px;
                background: url(//img.iblimg.com/respc-1/resources/v4.0/widget/tools1200/i/tools1200_sprite.png) no-repeat 0 -15px;
                margin-top: 8px;
            }
        }
    }
}

.palm{
    margin-left: -20px;
}
/*header*/
.header{
    background: #FFFFFF;
    min-width: $w;
    height: 96px;
    position: relative;
}
.header-logo{
    width: 410px;
    height: 60px;
    margin-top: 18px;
    float: left;
}
.logo{
    float: left;
    margin-left: 15px;
}
.secondary-logo{
    float: left;
    margin-left: 25px;
}
.header-search{
    width: 80px;
    float: left;
    margin-top: 25px;
    
}
.fl{
        float: left;
    }
.header-search-top {
    width: 565px;
    height: 35px;
    background: #c01133;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    float: left;
}
.header-search-input {
    padding: 2px 0 2px 2px;
    background: #c01133;
    float: left;
    position: relative;
    //z-index: 1001;
    
    div.indiv {
        background: #FFF;
        height: 31px;
        overflow: hidden;
        padding: 0 10px;
        box-shadow: 2px 2px 4px #ddd inset;
        vertical-align: middle;
       
    }
    input {
        height: 19px;
        line-height: 19px;
        border: 0;
        width: 458px;
        font-size: 13px;
        font-family: 'Microsoft YaHei';
        background: 0 0;
        vertical-align: middle;
        padding: 6px 0;
        float: left;
        outline: none;
    }
}
.header-search-button {
    height: 35px;
    width: 85px;
    float: left;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
    button {
        height: 35px;
        width: 85px;
        border: 0;
        cursor: pointer;
        background: #c01133;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        span{
            color: white;
            font-size: 20px;
        }
    }
}
.header-search-font {
    width: 540px;
    overflow: hidden;
    //clear: both;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    font-family: 'Microsoft YaHei';
    a{
        color: #aaa;
        float: left;
        margin-left: 5px;
        display: inline-block;
        font-size: 12px;
    }
    span {
        float: left;
        color: #e5e5e5;
        margin-left: 5px;
        display: inline-block;
    }
}
.fr-w{
    width: 215px;
    float: right;
    height: 35px;
   position: absolute;
   right: 45px;
   top: 25px;
   .fr{float: right;}
    a{
        font-size: 12px;
        height: 33px;
        border:1px solid #E2E2E2;
        display: inline-block;
        margin-left: 2px;
        color: #555;
        overflow: hidden;
        padding: 0 19px 0 12px;
        float: left;
        background: #f2f2f2;
        line-height: 33px;
        font-family: 'Microsoft YaHei';
       span{
           color: #c01133;
       }
    }
}

/*nav*/
.nav{
    height: 34px;
    border-bottom: 1px solid #707070;  
    background: #f5f5f5;   
    min-width: $w;
    position: relative;            
}
.nav-left{
    float: left;
    height: 35px;
    width: 190px;
    position: relative;
    font-family: 'Microsoft YaHei';
    .show-nav{
        display: block;
        
    }
}
.nav-leftfont{
    background: #363232;
    height: 35px;
    i{
        color: #FFFFFF;
        display: inline-block;
        font-size: 12px;
        float: left;
        margin-top: 12px;
        margin-left: 13px;
    }
    span{
        margin-left: 25px;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 34px;
        float: left;
    }
}
.nav-right{
    float: left;
    font-size: 15px;
    color: #000;
    line-height: 34px;
    height: 34px;
    font-family: 'Microsoft YaHei';
    ul{
        display: block;
        li{
            float: left;
            padding: 0 24px;
            position: relative;
            a{
                display: block;
                height: 34px;
                position: relative;
                overflow: hidden;
                color: #000000;
                background: #f5f5f5;
                &:hover{
                    color: red;
                }
                span{
                    width: 100%;
                    height: 3px;
                    position: absolute;
                    left: 0;
                    top: 35px;
                    background: #E6133C;
                }
            }
        }
    }
}
.show-nav{
    position: absolute;
    left: 0;
    top: 35px;
}
.int-nav{
    line-height: 28px;
    ul{
        li{
            height: 29px;
            line-height: 29px;
        }
    }
    
}
.banner-itemleft{
    position: relative;
    //z-index: 4;
    overflow: hidden;
    height: 407px;
    width: 180px;
    text-align: left;
    color: #FFF;
    padding: 9px 0 9px 10px;
    background: #e6133c;
    z-index: 50;
    ul{
        font-size: 0;
        li{
            padding-left:6px ;
            color: #FFFFFF;
            font-family: 'Microsoft YaHei';
            i{
                float: left;
                font-size: 16px;
                color: #FFFFFF;
            }
            span{
                float: left;
                margin-left: 10px;
                display: inline-block;
                font-size: 13px;
                a{
                    color: #FFFFFF;
                    
                }
            }
        }
    }
}
.left-ul-show {
   position:absolute;left:188px;top:0px;height:492px;width:1000px;
  /* overflow: hidden;*/
}
.site_cat{
    display: none;
    top:0;
    left:0px;
    width:768px;
    background:#fff;
    position:absolute;
    z-index:99999;
    border:1px solid #E4393C;
    padding-left:15px;
    li{
        width:516px;
        /*border-bottom:1px dashed #ccc;*/
       padding-top:15px;
        h2{
            float:left;
            a{
                float:left;
                font-weight:900;
                font-size:12px;
                color:#000;
                width:60px;
                line-height:16px;
                color:#666;
            }
        }
        div{
            float:left;
            width:450px;
            min-height:25px;
            _height:25px;
            margin-bottom:3px;
            a{
                float:left;
                font-size:12px;
                color:#666;
                width:110px;
                line-height:16px;
                padding-bottom:10px;
            }
        }
    }
    li:last-of-type{
        position:absolute;
        left:555px;
        top:0;
        height:100%;
        width:228px;
        h2{
            width:100%;
            float:none;
            border-bottom:1px dashed #ccc;
            padding-bottom:15px;margin-bottom:15px;
            a{
                color:#E4393C;
                font-size:14px;
            }
        }
        div{
            width:100%;
            a{padding-bottom:5px;}
        }
    }
    a:hover{color:#E4393C;text-decoration:underline;}
}
.site_cat2{top:10px;}
.site_cat3{top:20px;}
.site_cat4{top:30px;}
.site_cat5{top:40px;}
.site_cat6{top:50px;}
.site_cat7{top:60px;}
.site_cat8{top:70px;}
.site_cat9{top:80px;}
.site_cat10{top:90px;}
.site_cat11{top:100px;}
.site_cat12{top:110px;}
.site_cat13{top:120px;}
.site_cat14{top:130px;}
/*youcelan*/
.right-slidebar{
    //height: ;
    //right: -276px;
    height: 100%;
    #right{
        padding-top: 45px;
        position:fixed;
        right:0px;
        //top:250px;
         z-index: 3000;
         background: #7A6E6E;
         height: 100%;
    }
    
    li{
        list-style:none; 
        width:38px;
        height:40px;
        border-radius: 3px 0px 0px 3px;
        background-color: #7a6e6e;
        position: relative;
        text-align: center;
        line-height: 35px;
        margin: 1px;
        margin-right: 0; 
        margin-top: 45px;
        &:hover{
           cursor:pointer;
        }
        i{
            width: 34px;
            margin-left: 1px;
            position: relative;
            z-index: 12;
            background-color: #7a6e6e;
            color:#fff;
            font-size: 24px;
            p{
                font-size: 12px;
            }
        }
        span{font-size: 12px;}
    }
    
   
    .activeLi{
        background:red;     
    }
    
    .s{
            width: 62px;
                height: 40px;
                line-height: 40px;
                color: #fff;
                text-align: center;
                font-family: "microsoft yahei";
                position: absolute;
                z-index: -1;
                left: 0px;
                top: 0;
                background-color: #7a6e6e;
                text-align: center;
                border-radius: 3px 0px 0px 3px;         
    }
    em{
        font-size: 14px;
    }
}
/*banner*/
.banner{
    width: 100%;
    height: 430px;
    min-width: $w;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.banner_eye{
    width: 100%;
    height: 430px;
    line-height: 430px;
    text-align: center;
}
.rollBody{
    height: 430px;
    display: inline-block;
    overflow: hidden;
}
.main-top-scroll{
    width: 100%;
    height: 430px;
    line-height: 430px;
    display: inline-block;
    margin-left: -25px;
    ul{
        position: relative;
    }
    li{
        width: 100%;
        height: 430px;
        float: left;
        position: absolute;
        left:0 ;
        a{
            width: 785px;
            height: 430px;
            display: inline-block;
            img{
                display: inline;
                width: 785px;
                height: 430px;
                position: absolute;
                left: 270px;
            }
        }
    }
}
.pagechange-div {
    span {
        display: none;
        z-index: 60;
        width: 40px;
        height: 40px;
        background: #000;
        //cursor: pointer;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        font-family: "microsoft yahei";
        font-size: 30px;
        color: #fff;
        opacity: 0.3;
        border: 1px solid #fff;
        text-align: center;
        display: none;
    }
    .prev{
        position: absolute;
        left: 227px;
        top: 215px;
    }
    .next{
       position: absolute;
       right: 251px;
       top: 215px;
        
    }
}
.progress-bar-ol {
    height: 20px;
    line-height: 20px;
    list-style: none;
    //visibility: hidden;
    position: relative;
    top: -436px;
    display: inline-block;
    z-index: 10;
    li {
        float: left;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        text-align: center;
        border-radius: 50%;
        cursor: default;
        background-color: #abc;
        opacity: 0.5;
    }
    .current{
        background-color: pink;
        opacity: 1;
    }
}
.banner-recommend {
    width: 215px;
    height: 420px;
    margin-left: 380px;
    position: absolute;
    left: 50%;
    top: 5px;
    overflow: hidden;
    z-index: 80;
}
.banner-recommend_bg {
    width: 215px;
    height: 420px;
    position: absolute;
    left: 0;
    top: 0;
    background: #FFFFFF;
}
.ban_tit0{
    width: 187px;
    height: 96px;
    padding: 14px 14px 0;
    border-bottom: 1px solid #eeeeee;
    position: relative;
    z-index: 85;
    .ban_tit0_d1{
        height: 69px;
        .ban_tit_tx{
            color: #666666;
        }
    }
    a{
        .touxiang{
            width: 46px;
            height: 46px;
            font-size: 46px;
        }
    }
}
.ban_tit_txd{
    width: 130px;
    height: 40px;
    float: right;
    margin-top: 4px;
}
.ban_txta{
    width: 200px;
    margin-top: 10px;
    a{
        width: 86px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        display: inline-block;
        color: #ff6f6f;
        border: 1px solid #ff6f6f;
        border-radius: 1px;
    }
}
.ban_tit1 {
    height: 110px;
    margin: 10px 15px 0;
    font-family: '\5FAE\8F6F\96C5\9ED1';
    position: relative;
    overflow: hidden;
    .ban_more{
        padding-right: 14px;
        position:absolute;
        right: 0;
        top: 0;
        color: #999999;
        font-size: 14px;
    }
    .ban_qnew{
        height: 75px;
        margin-top: 30px;
        line-height: 25px;
        li {
            width: 178px;
            margin-left: 5px;
            line-height: 25px;
            color: #666;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            a{
                font-size: 12px;
                color: #999999;
                span{
                    margin-right: 6px;
                    font-weight: 700;
                    font-size: 12px;
                }
                
            }
        }
    }
}
.ban_tit2 {
    width: 217px;
    height: 182px;
    font-family: '\5FAE\8F6F\96C5\9ED1';
    position: absolute;
    bottom: 0;
    left: 0;
}
.ban_tit2_ul{
    height: 60px;
    width: 240px;
    li{
        float: left;
        height: 60px;
        line-height: 60px;
        background-color:#FFFFFF;
        padding:0 14px;
        cursor: pointer;
        font-size: 12px;
        border: 1px solid #EEEEEE;
    }
}
.ban_tit2_ol{
    height: 59px;
    width: 215px;
    background-color:#FFFFFF;
    overflow: hidden;
    
    li{
        display: none;
        text-align: center;
        
         a{
            width: 53px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            display: inline-block;
            color: #ff6f6f;
            border: 1px solid #ff6f6f;
            border-radius: 1px;
            font-size: 14px;
            margin-left: 8px;
            margin-top: 19px;
            
        }
    }
}
.ban_tit2_ul2{
    height: 30px;
    width: 240px;
    border: 1px solid #EEEEEE;
    li{
        float: left;
        width: 71px;
        height: 30px;
        line-height: 30px;
        background-color:#FFFFFF;
        //padding:0 16px;
        border:1px solid #EEEEEE;
        cursor: pointer;
        font-size: 12px;
        text-align: center;
    }
}
/*banner-end*/
.new_czt {
    width: 100%;
    height: 250px;
    padding: 20px 0;
    background: #fff;
    overflow: hidden;
}
.new_czt_l {
    width: 224px;
    height: 250px;
    overflow: hidden;
    float: left;
    background: #F4F4F4;
    a{
        width: 224px;
        height: 250px;
        display: block;
        img{
            width: 224px;
            height: 250px;
        }
    }
}
.new_czt_r {
    width: 965px;
    height: 248px;
    border: 1px solid #e4e4e4;
    float: right;
    border-left: none;
    overflow: hidden;
    position: relative;
    ul{
        width: 1932px;
        height: 227px;
        padding: 11px 0 10px;
        position: absolute;
        left:0px;
        top: 0px;
        li{
            width: 160px;
            height: 227px;
            float: left;
            border-right: 1px dashed #e4e4e4;
        }
    }
}
.new_czt_prev {
    width: 20px;
    height: 50px;
    position: absolute;
    left: 6px;
    top: 99px;
    background: #707070;
    opacity: 0.7;
    display: none;
    span{
        font-size: 14px; 
        position: absolute;
        left: 3px;
        top: 20px;
    }
    z-index: 1;
}
.new_czt_next {
    width: 20px;
    height: 50px;
    position: absolute;
    right: 6px;
    top: 99px;
    background: #707070;
    opacity: 0.7;
    span{
        font-size: 14px; 
        position: absolute;
        right: 3px;
        top: 20px;
    }
    z-index: 1;
}
.new_czt_show {
    height: 227px;
    width: 140px;
    padding: 0 10px;
    a{
        width: 140px;
        height: 140px;
        float: left;
        img{
            width: 140px;
            height: 140px;
           
        }
    }
}
.new_czt_name {
    float: left;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    margin-top: 0;
    a{color: #333333;font-size: 10px;}
}
.new_czt_money{
    .money{
        color: #ff6f6f;
        font-weight: 700;
        font-family: '\5FAE\8F6F\96C5\9ED1';
        font-size: 12px;
        line-height: 26px;
    }
    .price {
        color: #bbb;
        font-family: '\5FAE\8F6F\96C5\9ED1';
        font-size: 10px;
    }
}
.new_tm {
    width: 100%;
    height: 370px;
    background: #fff;
    padding-bottom: 20px;
    img{display: inline-block;}
}
.new_tm_l {
    width: 305px;
    height: 370px;
    overflow: hidden;
    float: left;
    position: relative;
    background: #F4F4F4;
    .new_tm_lul{
        width: 200%;
        height: 370px;
        line-height: 370px;
        display: inline-block;
        li{
            height: 370px;
            float: left;
            img{
                width: 305px;
                height: 370px;
            }
        }
    }
    .pagechange-bar-ol{
        position: absolute;
        top: 340px;
        left: 33px;
    }
}
/*.pagechange-ol{
    width: 928px;
    height: 80px;
    list-style: none;
    position: relative;
    margin: 0 auto;
    top: -480px;
    display: block;
    pointer-events: none;
    z-index: 5;
    .prev{
    float: left;
    width: 30px;
    left: 59px;
    height: 60px;
    position: relative;
    top: 18px;
    line-height: 70px;
    margin-left: 0;
    //background-image: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/bg_direction_nav.png);
    cursor: pointer;
    pointer-events: auto;

    }
    .next{
        float: right;
    width: 30px;
    height: 60px;
    top: 18px;
    line-height: 70px;
    background-image: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/bg_direction_nav.png);
    background-position: -30px 0;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    right: 85px;
    }
}*/
.pagechange-bar-ol{
    height: 14px;
    line-height: 14px;
    list-style: none;
   /* visibility: hidden;
    position: relative;
    top: -530px;*/
    display: inline-block;
    z-index: 6;
    li{
        margin-right: 10px;
        min-width: 15px;
        text-align: center;
        float: left;
    }
}
.listyle{
    width: 30px!important;
    height: 6px!important;
    //border: 1px solid #FFF;
    background-color: #FFF;
}
.li-a-process{
    background: #889285;
    height: 100%;
    display: inline-block;
    float: left;
}
.new_tm_lbox {
    width: 305px;
    height: 370px;
    overflow: hidden;
}

.new_tm_r {
    width: 885px;
    height: 370px;
    float: left;
    li {
        width: 285px;
        height: 180px;
        margin-left: 10px;
        float: left;
        margin-bottom: 10px;
        a {
            width: 285px;
            height: 180px;
            display: block;
            overflow: hidden;
            img{
                width: 285px;
                height: 180px;
            }
        }
    }
}
/*floor*/
.floor{
    margin-bottom: 20px;
    height: 514px;
    display: block;
    .floor_tit{
        height: 50px;
        font-weight: 400;
        color: rgb(51,51,51);
        font-family: "microsoft yahei";
        overflow: hidden;
        b{
            font-size: 26px;
            line-height: 48px;
        }
    }
}
.floor_box{
    height: 514px;
    overflow: hidden;
    position: relative;
}
.floor_tit{
    background-position: 0 -104px;
}
.floor_slide{
    width: 306px;
    height: 464px;
    overflow: hidden;
    float: left;
}
.floor_slidew{
    width: 306px;
    height: 464px;
    overflow: hidden;
    //float: left;
    .main-top-scroll2{
        width: 918px;
        height: 464px;
        line-height: 464px;
        float: left;
        li{
            height: 430px;
            float: left;
        }
        a{
        img{
            display: inline;
            width: 306px;
            height: 464px;
        }
        }
    }
}
.main-top-scroll2{
    display: inline-block;
    z-index: 4;
}
.floor_slide{
    .pagechange-bar-ol{
        position: absolute;
        top: 475px;
        left: 33px;
    }
}
.floor_main{
    width: 883px;
    height: 461px;
    float: right;
    border-top-width: 2px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-color: #E4E4E4;
    background: #fff;
    img{
        display: inline-block;
        vertical-align: middle;
    }
}
.floor_maint{
    height: 300px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    overflow: hidden;
    position: relative;
    border-color: #E4E4E4;
}
.floor_img{
    width: 220px;
    height: 300px;
    border-right-width: 1px;
    border-right-style: solid;
    overflow: hidden;
    float: left;
    border-color: #E4E4E4;
    a{
        width: 100%;
        height: 100%;
        display: block;
        background: #FFF;
    }
}
.floor_img_fir {
    border-left: none;
}
.floor_img_last{
    width: 220px;
    border-right: none;
    position: absolute;
    right: 0;
    top: 0;
}
.floor_mainb{
    height: 160px;
    position: relative;
}
.floor_mainb_t{
    height: 97px;
    border-bottom:1px solid #E4E4E4;
    .floor_img{
        height: 97px;
    }
}
.floor_mainb_b{
    a{
        width: 147px;
        height: 62px;
        line-height: 62px;
        text-align: center;
        display: block;
        float: left;
        img{
            width: 104px;
            height: 46px;
        }
    }
}
/*alsolike*/

.alsolike{
    width: 1200px;
    margin: 0 auto;
    display: block;
}
.featured_tit{
    margin: 8px 4px;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    color: #333333;
    font-family: '\5FAE\8F6F\96C5\9ED1';
    font-weight: 400;
    border-bottom: 1px solid red;
    position: relative;
    span{
        margin-left: 5px;
        font-size: 16px;
        color: #999999;
    }
    i{
        font-size: 28px;
        color: #FF6F6F;
        font-weight: 600;
    }
}
.guess_love{
    width: 255px;
    
    height: 30px;
    margin: 0 auto;
  position: absolute;
  bottom:-14px ;
  left: 462px;
  background: #FFF;
  text-align:center;
}
.featured_log{
    text-align: right;
    margin-bottom: 14px;
    font-size: 14px;
    font-family: "microsoft yahei";
    color: rgb(153, 153, 153);
    padding-right: 5px;
    a{
        color: #FF6F6F;
    }
}
.like_class{
    height: 320px;
    margin-bottom: 10px;
    li{
        float: left;
        height: 320px;
        margin:0 5px;
        position: relative;
        width: 230px;
        background: #FFFFFF;
    }
}
.pro-show{
    height: 318px;
    width: 228px;
    border: 1px solid #e4e4e4;
    background: #FFFFFF;
    transition: all 1s;
}
.pro-img{
    height: 220px;
    width: 220px;
    padding: 4px;
    /*background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/loading77x77.gif) no-repeat center center;*/
}
.pro-name{
    padding: 0 11px;
    margin-top: 5px;
    color: #333;
    line-height: 21px;
    height: 42px;
    overflow: hidden;
    a{
        color: #666666;
        font-size: 14px;
    }
}
.pro-money{
    padding: 0 11px;
    height: 26px;
    margin-top: 5px;
    position: relative;
}
.money-fl{
    color: #FF6F6F;
    font-family:  Verdana,Geneva,sans-serif;
    font-size: 12px;
    line-height: 26px;
}
.geta{
    float: right;
    padding: 0 5px 0 5px;
    height: 20px;
    margin-top: 3px;
    line-height: 18px;
    border: 1px solid #eee;
    color: #999;
    border-radius: 11px;
   i{
       display: inline-block;
        font-size: 18px;
        margin-right: 5px;
        color: #999;
    }
}
/*footer*/
.footer{
    padding-top: 30px;
    min-width: $w;
    margin: 0 auto;font-family: "microsoft yahei";
    a{
        &:hover{
            color: #FF0000;
            text-decoration: underline;
        }
    }
    .helpnav{
        background: #f3f3f3;
        min-width: $w;
        padding: 24px 0;
        height: 218px;
        //clear: both;
    }
    .helpnav-list{
        float: left;
        width: 200px;
        margin: 0 10px;
        display: inline-block;
        ul{
            margin-left: 55px;
            font-size: 13px;
            line-height: 26px;
            color: #555555;
            a{
                color: #555555;
            }
        }
    }
    .helpnav-title{
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        color: #000000;
        i{
            display: inline-block;
            float: left;
            margin-right: 15px;
            width: 40px;
            height: 40px;
            overflow: hidden;
        }
    }
    .bottom-nav{
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        padding: 15px 0 0;
        color: #999999;
        background: #f3f3f3;
        a{color: #333333;}
        span{padding: 0 8px;}
        .police{
            width: 100%;
            text-align: center;
            padding: 10px 0 20px;
            a{
                display: inline-block;
                height: 20px;
                line-height: 20px;
                margin-right: 10px;
                img{
                    float: left;
                    display: inline;
                    height: 20px;
                    line-height: 20px;
                }
                span{
                    float: letf;
                    display: inline;
                    height: 20px;
                    margin: 0 0 0 5px;
                    color: #999999;
                    
                }
            }
        }
    }
}
.footer-center{
    width: 1100px;
    margin: 0 auto;
}
.footic1{
    background: url(../images/footer-icon-1.png) no-repeat;
}
.footic2{
    background: url(../images/footer-icon-2.png) no-repeat;
}
.footic3{
    background: url(../images/footer-icon-3.png) no-repeat;
}
.footic4{
    background: url(../images/footer-icon-4.png) no-repeat;
}
.footic5{
    background: url(../images/footer-icon-5.png) no-repeat;
}
.copyright{
    span{color: #CCCCCC;}
}
.drug-message{color: #666666;}
/*louti*/
#LoutiNav{
    background: white;  
    z-index: 2000;    
    position: fixed;
    top: 20%;
    left: 0;
    width:36px;
    //border: 1px solid ;
    #stairs{display: none;}
    li{
        position:relative;
        width:36px;
        height:36px;
        list-style:none;
        text-align:center;
        line-height: 36px;
        font-size: 12px;
        cursor: pointer;
        border-bottom: 1px dotted #AAAAAA;
        &:hover{
            span{
                display: block;
                background: darkred;
                color: white;
            }
            .active{
                display: block;
                background: darkred;
                color: white;
            }
        }
    }
    .last{
        background: darkred;
        color: white;
        border-bottom: none;
    }
    span{
        display: none;
        width: 36px;
        height: 36px;
        position: absolute;
        top: 0;
        left: 0;
        color: red;
    }
    .active{
        display: block;
        background: white;
        color: red;
    }
} 