strong {
  font-weight: bold; }

.main-center {
  position: relative; }

.path {
  font-family: "microsoft yahei";
  position: relative;
  height: 56px;
  z-index: 195px; }

.path-left {
  height: 26px;
  line-height: 26px;
  padding: 15px 0;
  float: left;
  width: 1050px;
  position: relative; }

.pathclip {
  clip: rect(0, auto, 1050px, 0);
  position: absolute;
  width: 100%;
  left: 0;
  height: 26px; }

.path-pa {
  width: 690px;
  position: absolute;
  left: 0;
  white-space: nowrap;
  height: 26px;
  font-size: 0; }

.psth-font {
  float: left;
  color: #333;
  margin: 0;
  padding: 0;
  background: 0 0;
  padding-right: 10px;
  padding-left: 10px; }
  .psth-font a {
    font-size: 12px;
    color: #333;
    text-decoration: none;
    display: block;
    max-width: 72px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }

.path-icon {
  float: left;
  padding-left: 15px;
  background: url(../images/left-icon.png) no-repeat left;
  padding-right: 10px;
  font-size: 12px !important; }
  .path-icon a {
    color: #333; }

.path-show {
  border: 1px dashed #DDDDDD;
  line-height: 24px;
  padding: 0 20px 0 10px;
  color: #333333;
  background: url(../images/showrighticon.png) no-repeat right 10px;
  position: relative; }
  .path-show span {
    display: block;
    max-width: 72px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
    .path-show span a {
      color: #333333; }

.show-drop {
  position: absolute;
  top: 25px;
  left: 0;
  padding-top: 10px;
  z-index: 1;
  display: none; }

.show-drop-bg {
  width: 278px;
  overflow: hidden;
  padding-bottom: 15px;
  line-height: 21px;
  max-width: 834px;
  position: relative; }

.ul-secondary {
  margin-left: -1px; }
  .ul-secondary li {
    float: left;
    padding: 0 15px;
    color: #FFF;
    width: 108px;
    margin-top: 15px;
    border-left: 1px dashed #fff;
    display: inline-block; }
    .ul-secondary li dd {
      margin: 0;
      list-style: none;
      padding: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #bbb;
      display: block;
      height: 21px;
      line-height: 21px; }
      .ul-secondary li dd a {
        color: #BBBBBB;
        font-size: 12px;
        line-height: 21px; }

on {
  color: #EEEEEE;
  font-weight: 700; }

.path-input {
  height: 22px;
  padding: 1px;
  border: 1px solid #DDDDDD;
  padding-left: 10px;
  width: 150px; }
  .path-input input {
    float: left;
    height: 22px;
    border: 0;
    width: 125px;
    font-family: "microsoft yahei";
    outline: none; }
  .path-input button {
    height: 22px;
    width: 22px;
    border: 0;
    background: url(../images/select-button.png) no-repeat center center;
    cursor: pointer;
    float: right; }

.path-right {
  float: right;
  color: #666;
  line-height: 56px;
  background: #FFF;
  text-align: right;
  width: 140px;
  width: 140px;
  position: relative;
  z-index: 3;
  font-size: 12px; }

.filter {
  border-top: 2px solid #987144;
  font-family: 'Microsoft YaHei';
  float: left;
  display: inline; }

.filter-item {
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
  float: left;
  display: inline; }

.filter-left {
  float: left;
  display: inline;
  width: 90px;
  margin: 0 20px;
  color: #999;
  text-align: right;
  line-height: 34px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
  .filter-left span {
    font-size: 12px; }

.filter-right {
  width: 1040px;
  float: left;
  display: inline;
  background: #FFF;
  padding: 6px 0;
  padding-left: 20px;
  line-height: 22px;
  min-height: 22px;
  color: #333; }

.wid-list {
  width: 925px;
  display: block; }

.show1 {
  height: 22px;
  overflow: hidden;
  display: block; }

.filter-right-item {
  margin-right: 28px;
  max-width: 88px;
  height: 22px;
  line-height: 22px;
  float: left;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
  .filter-right-item a {
    color: #333333;
    white-space: nowrap;
    font-size: 12px; }

.shshow {
  max-height: 116px;
  overflow: hidden;
  position: relative; }

.list-class li {
  float: left;
  position: relative;
  width: 108px;
  height: 48px;
  border: 1px solid #eee;
  overflow: hidden;
  text-align: center;
  line-height: 48px;
  color: #999;
  margin: 4px 5px 4px 0;
  display: inline;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis; }
  .list-class li span {
    display: inline;
    text-align: center; }
    .list-class li span img {
      width: 88px;
      height: 48px;
      display: block;
      position: absolute;
      left: 10px; }
    .list-class li span i {
      display: none;
      font-size: 12px; }

.fr-button {
  float: right; }

.fr-button-a {
  float: left;
  height: 22px;
  width: 56px;
  line-height: 22px;
  background: #eee;
  color: #666;
  text-align: center;
  cursor: pointer;
  font-size: 10px; }

.filter-right-item {
  margin-right: 28px;
  max-width: 88px;
  height: 22px;
  line-height: 22px;
  float: left;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
  .filter-right-item a {
    font-size: 12px;
    color: #333333;
    white-space: nowrap; }

.multiselect label {
  float: left;
  margin-right: 25px;
  line-height: 24px;
  font-family: "microsoft yahei";
  white-space: nowrap; }

.showbutton {
  height: 26px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 6px;
  line-height: 26px; }

.w48 {
  width: 48px !important; }

.btn-notsubmit {
  height: 26px;
  background: #eee;
  border: 1px solid #ccc;
  color: #999;
  font-size: 12px; }

.btn-submit {
  margin-left: 3px; }

.fr-button-b {
  float: left;
  height: 22px;
  width: 50px;
  line-height: 22px;
  background: #fff;
  color: #666;
  text-align: center;
  cursor: pointer;
  background-image: url(../images/showrighticon.png);
  background-repeat: no-repeat;
  background-position: right 9px;
  padding-right: 6px;
  font-size: 12px; }

.sequence {
  margin-top: 20px;
  height: 36px;
  float: left;
  display: inline; }

.sequence-left {
  height: 36px;
  float: left;
  overflow: hidden;
  font-family: 'microsoft yahei'; }

.listclass {
  margin-left: 1px; }
  .listclass li {
    float: left;
    margin-left: -1px;
    position: relative; }
    .listclass li a {
      font-size: 12px;
      border: 1px solid #CCCCCC;
      display: block;
      padding: 0 15px;
      height: 34px;
      line-height: 34px;
      background: #F8F8F8; }
      .listclass li a span {
        float: left;
        display: inline-block;
        font-size: 12px;
        color: #666666; }
      .listclass li a i {
        float: left;
        margin-left: 7px;
        display: inline-block;
        width: 7px;
        height: 34px;
        background-repeat: no-repeat; }
  .listclass .on {
    z-index: 3; }
    .listclass .on a {
      background: #c01133;
      border: 1px solid #C01133;
      color: #FFFFFF; }
  .listclass .upanddown i {
    background-image: url(../images/icon-xiala.png);
    background-position: 0 center; }
  .listclass .sort i {
    background-image: url(../images/icon-xiala1.png);
    background-position: 0 center; }

.left-money {
  float: left;
  margin-left: 10px;
  display: inline-block;
  height: 34px;
  position: relative;
  z-index: 3;
  width: 164px;
  font-size: 12px; }
  .left-money .moneyshow {
    padding: 4px;
    position: absolute;
    border: 1px solid #ccc;
    background: #f8f8f8; }
  .left-money input {
    height: 24px;
    border: 1px solid #ccc;
    width: 68px;
    text-align: center;
    background: #fff;
    float: left;
    font-family: 'Microsoft YaHei';
    vertical-align: middle; }
  .left-money span {
    display: inline;
    padding: 0 3px;
    float: left; }

input::-webkit-input-placeholder {
  /* WebKit browsers */
  font-size: 12px; }

.sequence-right {
  margin-left: 10px;
  height: 34px;
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 0 4px 0 10px;
  float: right;
  width: 645px; }

.option {
  float: left; }
  .option label {
    margin-right: 25px;
    line-height: 34px;
    float: left;
    cursor: pointer; }
    .option label input {
      float: left;
      cursor: pointer;
      margin-top: 10px;
      outline: 0;
      padding: 0;
      list-style: none; }
    .option label span {
      font-size: 12px;
      cursor: pointer;
      float: left;
      margin-left: 5px;
      color: #333;
      font-family: 'Microsoft YaHei'; }

.sequence-right-pt {
  float: right;
  color: #666;
  line-height: 26px;
  padding-top: 4px; }
  .sequence-right-pt span {
    color: #e6133c; }

.fl {
  float: left;
  font-size: 12px;
  display: inline; }

.fr-show {
  float: left;
  width: 68px;
  margin-left: 2px; }
  .fr-show a {
    color: #666666; }

.buledt {
  background-image: url(../images/swicon.png);
  float: right; }

.swicon {
  height: 24px;
  width: 24px;
  border: 1px solid #ccc;
  background-color: #eee;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 8px;
  display: block; }

.prolist {
  margin-top: 66px;
  font-family: 'Microsoft YaHei';
  margin-top: 10px;
  position: relative;
  float: left;
  display: inline; }

.pro-class {
  width: 1200px; }
  .pro-class li {
    margin-top: 10px;
    margin-right: 10px;
    float: left;
    position: relative;
    width: 230px;
    height: 390px; }

.pro-show {
  width: 200px;
  border: 1px solid #eee;
  padding: 14px;
  height: auto;
  padding-bottom: 0;
  float: left;
  display: inline; }

.pro-img {
  height: 200px;
  width: 200px;
  position: relative; }

.pro-money {
  height: 26px;
  margin-top: 10px;
  position: relative; }

.money-fl {
  float: left;
  font-family: Verdana,Geneva,sans-serif;
  color: #e6133c;
  line-height: 26px;
  font-size: 18px; }

.product-comment {
  height: 42px;
  clear: both; }

.two-line {
  height: 42px;
  overflow: hidden;
  white-space: normal;
  word-break: break-all; }

.pro-name {
  color: #333;
  text-overflow: ellipsis; }
  .pro-name a {
    color: #333333;
    font-size: 12px; }

.pro-assess {
  height: 21px;
  line-height: 21px; }

.pro-assess-right {
  font-size: 12px;
  float: left;
  color: #999; }

.pro-button {
  padding: 4px 0 14px;
  display: block; }
  .pro-button button {
    width: 100%; }
  .pro-button .btn-primary {
    border: 1px solid #e6133c;
    background: #fff;
    color: #e6133c;
    height: 36px;
    font-size: 16px; }

/*.page-show {
    text-align: center;
    height: 26px;
    padding-top: 70px;
    clear: both;
    font-family: 'Microsoft YaHei';
    table {
        margin: 0 auto;
        text-align: center;
        font-size: 0;
        white-space: nowrap;
        vertical-align: middle;
    }
}
.page {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    li {
        margin: 0 2px;
        display: inline-block;
        height: 26px;
        a{
            background: #eee;
            height: 24px;
            min-width: 24px;
            border: 1px solid #ccc;
            color: #333;
            line-height: 24px;
            text-align: center;
            display: block;
        }
    }
    .on{
        a{
            background: #e6133c;
            color: #fff;
            border: 1px solid #e6133c;
        }
    }
    .ym{
        a{
            width: 48px;
        }
        
    }
}*/
/*footers*/
